body {
    background: url('../img/leather.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

button {
    outline: none;
}

.menu{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.logo {
    background-image: url('../img/logo.png');
    width: 100%;
    height: 40%;
    max-width: 860px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.menu > button {
    width: 90%;
    max-width: 300px;
    height: 60px;
    font-family: 'Rubik', sans-serif;
    background: none;
    border: none;
    color: white;
    font-size: 2.2em;
    text-shadow: 0px 8px 2px #0000008a;
    margin-top: 15px;
}

.game{
    display: flex;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game > .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.level {
    color: white;
    font-size: 30px;
    text-shadow: 0 5px 3px black;
}

.msg {
    color: white;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 5px 3px black;
}

.timer {
    position: absolute;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -9999;
}

.timerSeconds {
    position: absolute;
    font-size: 40px;
}

.timerCircle {
    fill: none;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 0;
    stroke: white;
    transition: opacity 0.5s;
}

.hp {
    width: 100%;;
    height: 50px;
    background: linear-gradient(to bottom,  #f4f4f4 0%,#eaeaea 47%,#dbdbdb 48%,#f9f9f9 100%);
    box-shadow: 0 10px 20px #0000009c, 3px 3px 2px #00000063 inset, -3px -4px 2px #909090 inset;
    transition: width 0.5s;
    border-radius: 7px;
}

.hpColor {
    background-color: #62ff00;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    transition: background-color .3s ease-out;
    border-radius: 7px;
}

.restartBtn{
    position: absolute;
    width: 200px;
    height: 60px;
    font-size: 25px;
    border-radius: 50px;
    border: 5px solid white;
    background: transparent;
    color: white;
    font-family: 'Rubik', sans-serif;
    transition: opacity 0.5s ease-out;
    outline: none;
}

.effects{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.middle{
    height: 130px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.calibrate {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hit{
    width: 60vh;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hit > .whiteBg {
    width: 95%;
    height: 95%;
    background: white;
    opacity: 0;
    border-radius: 1000px;
}

.calibrate > input {
    width: 40vh;
    margin-top: 50px;
}

.hitRing{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 600px;
    /* box-sizing: border-box; */
    background-image: url('../img/glove.png');
    background-size: cover;
}

.hitCircle{
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    transform: scale(0,0);
    position: absolute;
    background: white;
    border-radius: 300px;
    transition: transform 0.1s ease-out;
}

.slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 40px;
    margin-top: 40px;
}

.slider > input {
    margin-left: 10px;
    margin-right: 10px;
    width: 60%;
}